.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-Image {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #FFFFFF;
    border-left-width: 0px;
    border-radius: 20px;
}
.bs-callout-chepe {
    padding: 20px;
    margin: 20px 0;
    border: 5px solid #eee;
    border-left-width: 5px;
    border-radius: 10px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}


.bs-callout-primary-chepe {
    border-left-color: #ECDCD8;
    border-top-color: #ECDCD8;
    border-right-color: #ECDCD8;
    border-bottom-color: #ECDCD8;
}

    .bs-callout-primary-chepe h4 {
        color: #ECDCD8;
    }


.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}