﻿@font-face {
    font-family: "Roboto";
    src: url('../../fonts/RobotoCondensed-Regular.ttf');
}
.fuentemostrosa {
    font-family: "Roboto";
}

size {
    height: 180px;
    width: 180px;
    border-radius: 10px;
}
