﻿


.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.text-gray-900 {
    color: #3a3b45!important;
}
.form-group {
    margin-bottom: 1rem;
}
.oficer{
    width:250px
}
.inpdate{
    border: none;
border-bottom: 2px solid #428bca;
    border-radius: 5px;
    background-color: #def;
    text-align: center;
}
.hcenter{
    margin-left: 400px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
}
.drop{
    width:320px;
    overflow:scroll;
}
.dropitembox{
    margin-left:200px
}
.body {
    margin: 0;
}
.log-out{
    margin-top:10px;
}
.border-right {
    border-right: 4px solid #238fbe;
}

.border-left-success {
    border-left: 2rem solid #428bca !important;
}

.border-left-successret{
    border-left: 2rem solid #9442ca  !important;
}
.border-left-warning {
    border-left: 2rem solid #f6c23e !important;
}

.modal-centertext{
    text-align:justify;
}
.modal-centertext a{
    color:black
}


.border-left-primary {
    border-left: 2rem solid #4e73df !important;
}


.p-5 {
    padding: 3rem!important;
}

.text-center {
    text-align: center!important;
}

.border-left-info {
    border-left: 2rem solid #ff0303 !important;
}

.h-100 {
    height: 100% !important;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.border-left-primary {
    border-left: 2rem solid #067b08  !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.flex-row {
    flex-direction: row !important;
}

.d-flex {
    display: flex !important;
}

.text-primary {
    color: #4e73df !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.m-0 {
    margin: 0 !important;
}

.card .card-header .dropdown {
    line-height: 1;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.text-gray-400 {
    color: #d1d3e2 !important;
}


.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.card .card-header .dropdown {
    line-height: 1;
}



.h6, h6 {
    font-size: 16px;
}

.card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}

.chart-area {
    height: 40rem;
    position: relative;
    width: 100%;
}

}

.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}

.card-header {
    
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}
.btn-icon-split {
    padding: 0;
    overflow: hidden;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.btn-blue {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}
.btn-green {
    color: #fff;
    background-color: #018a21;
    border-color: #018a21;
}

form.user .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}

.btn-block {
    display: block;
    width: 100%;
}
.btnmodel {
    display: inline-block;
    font-weight: 400;
    color: #858796;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .35rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .70rem;
}

.card-body {
    flex: 1 1 auto;
     padding-right: 20px;
     padding-top:8px


}
.card-bodyprinci{
    flex: 1 1 auto;
 
padding:0.50rem;

}

.card-bodygraphics {
    flex: 1 1 auto;
    padding:0.60rem;
}

.align-items-center {
    align-items: center !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.mr-2, .mx-2 {
    margin-right: .85rem !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.mr-3, .mx-3 {
    margin-right: 1rem !important;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.text-xs {
    font-size: 1.5rem;
}

.text-primary {
    color: #4e73df !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.dropdown .dropdown-menu .dropdown-header, .sidebar .sidebar-heading, .text-uppercase {
    text-transform: uppercase !important;
}

.d-sm-flex {
    display: flex!important;
}
.mb-1, .my-1 {
    margin-bottom: .25rem !important;
}
form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}
.panelcito-default {
    opacity: 0.9;
    margin-top: 180px;
}
.body {
    background-image: url('2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.panel-footer {
    padding: 14px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.progress-sm {
    height: .5rem;
}



.mrleftper {
    margin-left: 1.2rem;
}

.h5, h5 {
    font-size: 6rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.text-gray-300 {
    color: #dddfeb !important;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa-2x {
    font-size: 2em;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


